# **Programacion funcional**

Vamos a aprender a usar las **funciones lambda, map, filter y reduce**.

Veremos los siguientes métodos:

    1) Funciones lambda.
    2) Metodos de la programacion funcional:      
      - map
      - filter
      - reduce*

### **Programacion funcional**

Los programas escritos en un **lenguaje funcional** están constituidos unicamente por definiciones de **funciones**, entendiendo estas no como subprogramas clasicos de un lenguaje imperativo, sino como funciones puramente matematicas.

<center>
<img src="https://user-images.githubusercontent.com/16768318/73006022-d523bd00-3e01-11ea-8c1a-8ce4f5529158.png" width="35%">
</center>

### **Funciones lambda**

Sirve para crear funciones anonimas. Ejemplo:

In [1]:
def doble(x):
  return x**2

In [2]:
doble(25)

625

In [3]:
dobleAnonima = lambda x: x**2

In [4]:
dobleAnonima(25)

625

In [12]:
(lambda x: x**2)(25)

625

### Ejercicio: 
Escribe una función anónima que de la vuelta a un String, guardala en una variable que se llame reverse_f.


> Por ejemplo: Dado el string "Hola" debe devolver "aloH"

In [16]:
#Inserta Aquí tu código
reverse_f = lambda x: x[::-1]

In [17]:
reverse_f('hola')

'aloh'

### **Map**

Aplica una condicion (definida por una funcion) sobretodos los elementos de una estructura de datos.
<img src="https://leblancfg.com/img/map_function.png" width="50%">

#### **Ejemplo 1**

Convertir los valores de temperatura media de Celsius a Kelvin

In [5]:
temp_C = [28, 32, 15, 26, 24, 30]

In [6]:
# Programación imperativa
temp_K = []
for temp in temp_C:
  new_temp = temp + 273.15
  temp_K.append(new_temp) 
print(temp_K)

[301.15, 305.15, 288.15, 299.15, 297.15, 303.15]

In [7]:
# Programación funcional
def celsiusAKelvin(temperatura):
  return temperatura + 273.15

temp_K = list(map(celsiusAKelvin, temp_C))
print(temp_K)

[301.15, 305.15, 288.15, 299.15, 297.15, 303.15]

In [8]:
# Programación funcional avanzada usando funciones anónimas
temp_K = list(map(lambda x : x+273.15, temp_C))
print(temp_K)

[301.15, 305.15, 288.15, 299.15, 297.15, 303.15]

#### **Ejercicio 2**
Convertir estos nombres a mayúsculas

In [9]:
mascotas_nombre_min = ['alfred', 'tabitha', 'william', 'arla']

Primero resuelve tu problema usando un bucle `for`


*   INPUT/ENTRADA: Tienes que convertir en mayúscula todos los elementos de la lista `mascotas_nombre_min`
*   OUTPUT/SALIDA: Los nombres en mayúsculas deberán estar en la lista `mascotas_nombre_may`
* PISTA: Puedes añadir elemenetos a una lista con `append()`

In [11]:
# Programación imperativa
#Inserta Aquí tu código

mascotas_nombre_may = []
for pet in mascotas_nombre_min:
  pet_ = pet.upper()
  mascotas_nombre_may.append(pet_)
print(mascotas_nombre_may)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

Ahora haz lo mismo pero sin un bucle for, ahora usando map()

In [18]:
# Programación funcional
#Inserta Aquí tu código
mascotas_nombre_may = list(map(str.upper, mascotas_nombre_min))
print(mascotas_nombre_may)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

### **Filter**

Mientras que **map()** pasa cada elemento del iterable a traves de una funcion y devuelve el resultado de todos los elementos que han pasado a traves de la funcion, **filter()**, en primer lugar, requiere que **la funcion devuelva valores booleanos (verdadero o falso)** y luego pasa cada elemento del iterable a traves de la funcion, **"filtrando" los que son falsos**. 

<img src="https://leblancfg.com/img/filter.png" width="50%">

In [19]:
# Filter
numeros = [28, 32, 15, 26, 24, 30]

In [20]:
# Programación imperativa
num_may_30 = []
for num in numeros:
  if num >= 30:
    num_may_30.append(num) 
    
print(num_may_30)

[32, 30]

In [21]:
# Programación funcional
def numMayoresA30(numero):
  if numero >= 30:
    return True
  else:
    return False


num_may_30 = list(filter(numMayoresA30, numeros))
print(num_may_30)

[32, 30]

In [22]:
# Programación funcional avanzada usando funciones anónimas
num_may_30 = list(filter(lambda temp:temp >= 30, numeros))
print(num_may_30)

[32, 30]

#### **Ejercicio 3**
Escribir una función que reciba una frase (string) y devuelva una lista con las longitudes de cada palabra.

In [ ]:
frase = 'Welcome to Python'

In [23]:
#Inserta Aquí tu código
def length_words(sentence):
    '''
    Función que recibe una frase y devuelve un diccionario con las palabras que contiene y su longitud.
    Parámetros:
        sentence: Es una cadena de caracteres con una frase.
    '''
    words = sentence.split()
    lengths = map(len, words)
    return list(lengths)

Comprueba tu respuesta, debe dar: [7, 2, 6]

In [24]:
print(length_words('Welcome to Python'))

[7, 2, 6]

#### **Ejercicio 4**
Escribir una función que reciba una lista de números pares e impares y devuelve como resultado una lista solo con los números pares usando filter. Usa también la función dada check_even().

In [26]:
def check_even(num):
    return num % 2 == 0

In [27]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [28]:
#Inserta Aquí tu código
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]